.header--main {
  background-color: #F55A5A;
  ;
  border-bottom: 1px solid #e9ecef;
  padding: 10px 0;
  width: 100%;
  padding: 20px 0px;
  z-index: 1000;
  gap: 10px;
  margin-bottom: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header--title {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
}

.header--logo {
  width: 2rem;
  height: 2rem;
}

.item {
  padding: 20px 20px;
}

.section--main {
  display: flex;
  flex-wrap: nowrap;
  /* width: 30%; */
  margin-bottom: 1rem;
}

.section--image {
  min-width: 11.625rem;
  min-height: 15.75rem;
  max-width: 13.125rem;
  max-height: 17.625rem;
  height: auto;
  border-radius: 0.625rem;
  object-fit: cover;
}

.subsection {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.header--location {
  padding: 10px 0;
  margin-top: 1rem;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.header--location span {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header--location img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  position: relative;
}

.header--location span span {
  margin-right: 10px;
}

.countery {
  font-size: 1rem;
  font-weight: 400;
  line-height: 12.39px;
  letter-spacing: 0.17em;
  text-align: left;
  text-transform: uppercase;
  color: #2B283A;

}

.map--text {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 400;
  line-height: 12.39px;
  text-align: left;
  padding: 4px 0px;
  color: #918E9B;
}

.map--text:hover {
  color: #2B283A;
}

.location {
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 30.26px;
  text-align: left;
  color: #2B283A;
  /* margin-top: 1rem; */
  margin-bottom: 1.75rem;

}

.date {
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 12.39px;
  text-align: left;
  color: #2B283A;
  margin-bottom: .5rem;
}

.brief-text {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 15.36px;
  text-align: left;
  color: #2B283A;
  line-height: 1.3rem;
}